body{
    background: rgb(131, 31, 99);
background: linear-gradient(90deg, rgb(85, 48, 145) 0%, rgb(30, 30, 192) 35%, rgb(16, 100, 117) 100%);
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#container{
    background: rgb(95, 185, 182);
background: linear-gradient(90deg, rgb(211, 127, 179) 0%, rgb(106, 132, 180) 35%, rgb(121, 190, 164) 100%);
    width: 600px;
    border: solid 10px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
}
img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}
h1{
    text-align: center;
}
.p1{
    text-align: center;
}
li{
    list-style: none;
    margin-bottom: 5px;
}
ul{
    padding: 0;
}
